{% extends 'base.html' %}
{% load static %}
{% load loft_tags %}

{% block title %}
  Мой профиль
{% endblock %}


{% block content %}
<main class="main">
    <div class="profile">
        <div class="container">
            <div class="profile__content">

                
                <form class="profile__form" method="post" action="{% url "users:profile" %}">
                    {% csrf_token %}
                    <h2 class="profile__title">Личные данные {% if request.user.is_authenticated %}| {{ request.user }}{% endif %}</h2>
                    <div class="profile__form-grid">

                        <div class="input__title">
                            <h2>Имя</h2>
                            <input type="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" class="contact__section-input" id="id_first_name" name="first_name" required> 
                        </div>
                        
                        <div class="input__title">
                            <h2>E-mail</h2>
                            <input type="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" class="contact__section-input" id="id_email" name="email" required>
                        </div>

                        <div class="input__title">
                            <h2>Фамилия</h2>
                            <input type="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" class="contact__section-input" id="id_last_name" name="last_name" required>
                        </div>

                        <div class="input__title">
                            <h2>Номер телефона</h2>
                            <input type="phone_number" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}" class="contact__section-input" id="id_phone_number" name="phone_number" required>
                        </div>


                        <div class="input__title">
                            <h2>Город</h2>
                            <input type="text" value="{% if form.city.value %}{{ form.city.value }}{% endif %}" class="contact__section-input" id="id_city" name="city">
                        </div>
                        <div></div>

                        <div class="input__title _span-two">
                            <h2>Улица</h2>
                            <input type="text" value="{% if form.street.value %}{{ form.street.value }}{% endif %}" class="contact__section-input" id="id_street" name="street">
                        </div>

                        <div class="input__title">
                            <h2>Дом/Корпус</h2>
                            <input type="text" value="{% if form.house_or_block.value %}{{ form.house_or_block.value }}{% endif %}" class="contact__section-input" id="id_house_or_block" name="house_or_block">
                        </div>

                        <div class="input__title">
                            <h2>Квартира</h2>
                            <input type="text" value="{% if form.home_or_flat.value %}{{ form.home_or_flat.value }}{% endif %}" class="contact__section-input" id="id_home_or_flat" name="home_or_flat">
                        </div>
                    </div>
                    <button class="btn profile__btn">Изменить</button>

                </form>

                {% if request.user.orders.all %}
                <div class="profile__orders">
                    <h2 class="profile__title">Мои заказы</h2>
                    
                    {% for order in request.user.orders.all|slice:":2" %}
                    <table class="profile__table">
                        <span style="font-size: 15px; margin-top: 6px;">Заказ: № {{ order.id }} | Общ сумма: {% get_normal_price order.order_products.total_price %} UZS</span>
                        <tr>
                            <td colspan="4">Товар</td>
                            <td>Цена</td>
                            <td>Дата</td>
                            <td>Статус</td>
                        </tr>

                        {% for order_item in order.order_products.all %}
                        
                        <tr >
                            <td colspan="4" class="profile__title-adaptive">
                                <div class="tabel__item">
                                    <img src={{ order_item.product.get_product_image }} alt="img">
                                    <span>{{ order_item.product_title }} {{ order_item.product_color_name_en }}
                                        </span>
                                </div>
                            </td>
                            <td class="profile__tabel-data">{% get_normal_price order_item.product_sell_price %} UZS</td>
                            <td class="profile__tabel-data">{{ order.created_timestamp }}</td>
                            <td class="profile__tabel-data">{{ order.status }}</td>
                        </tr>
                        {% endfor %}

                        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
                    </table>
                    {% endfor %}
                    
                    <a href="{% url "orders:order_products" %}" class="profile__orders-link">Смотреть всё</a>
                </div>
                {% else %}
                <span>У вас нет заказов</span>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}


