{% extends 'base.html' %}
{% load static %}
{% block title %}
  Мой профиль
{% endblock %}


{% block content %}
<main class="main">
    <div class="profile">
        <div class="container">
            <div class="profile__content">

                
                <form class="profile__form" method="post" action="{% url "users:profile" %}">
                    {% csrf_token %}
                    <h2 class="profile__title">Личные данные {% if request.user.is_authenticated %}| {{ request.user }}{% endif %}</h2>
                    <div class="profile__form-grid">

                        <div class="input__title">
                            <h2>Имя</h2>
                            <input type="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" class="contact__section-input" id="id_first_name" name="first_name" required> 
                        </div>
                        
                        <div class="input__title">
                            <h2>E-mail</h2>
                            <input type="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" class="contact__section-input" id="id_email" name="email" required>
                        </div>

                        <div class="input__title">
                            <h2>Фамилия</h2>
                            <input type="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" class="contact__section-input" id="id_last_name" name="last_name" required>
                        </div>

                        <div class="input__title">
                            <h2>Номер телефона</h2>
                            <input type="phone_number" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}" class="contact__section-input" id="id_phone_number" name="phone_number" required>
                        </div>


                        <div class="input__title">
                            <h2>Город</h2>
                            <input type="text" value="{% if form.city.value %}{{ form.city.value }}{% endif %}" class="contact__section-input" id="id_city" name="city">
                        </div>
                        <div></div>

                        <div class="input__title _span-two">
                            <h2>Улица</h2>
                            <input type="text" value="{% if form.street.value %}{{ form.street.value }}{% endif %}" class="contact__section-input" id="id_street" name="street">
                        </div>

                        <div class="input__title">
                            <h2>Дом/Корпус</h2>
                            <input type="text" value="{% if form.house_or_block.value %}{{ form.house_or_block.value }}{% endif %}" class="contact__section-input" id="id_house_or_block" name="house_or_block">
                        </div>

                        <div class="input__title">
                            <h2>Квартира</h2>
                            <input type="text" value="{% if form.home_or_flat.value %}{{ form.home_or_flat.value }}{% endif %}" class="contact__section-input" id="id_home_or_flat" name="home_or_flat">
                        </div>
                    </div>
                    <button class="btn profile__btn">Изменить</button>

                </form>



                <div class="profile__orders">
                    <h2 class="profile__title">Мои заказы</h2>

                    <table class="profile__table">
                        <tr>
                            <td colspan="4">Товар</td>
                            <td>Цена</td>
                            <td>Дата</td>
                            <td>Статус</td>
                        </tr>

                        {% for orders in user_order_products %}
                        {% for order_item in orders %}
                        <tr >
                            <td colspan="4" class="profile__title-adaptive">
                                <div class="tabel__item">
                                    <img src={{ order_item.product.get_product_image }} alt="img">
                                    <span>{{ order_item.product_title }} {{ order_item.product_color_name_en }}
                                        </span>
                                </div>
                            </td>
                            <td class="profile__tabel-data">16990</td>
                            <td class="profile__tabel-data">01.05.2020</td>
                            <td class="profile__tabel-data">Ожидается</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}

                        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
                    </table>
                    <a href="#!" class="profile__orders-link">Смотреть всё</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}


