{% load static %}
{% load loft_tags %}
{% load fav_tags %}
{% get_fav_products request as favs %}
{% get_card_size product.size as product_size %}



<div class="products__item ">

    {% if product.discount %}
    <span class="discount" style="font-size: 12px;">
        <i class="far fa-badge-percent" style="
        color: red; font-size: 16px; position: absolute;
         top: 10px; right: 220px; width: 20px; height: auto; z-index: 2;"><span style="color: black; font-size: 12px">-25%</span></i>

    </span>
    {% endif %}

    <a href="{% url 'favourites:add_fav' product.slug %}" class="products__item-heart {% if product in favs %}active{% endif %}"></a>


    <a href="{{ product.get_absolute_url }}"> <img src={{ product.get_product_image }} alt=""
            class="products__item-img"></a>
    <div class="products__item-text">
        <h3 class="products__item-title">
            {% autoescape off %}
            {% if product.headline %}{{ product.headline }} {{ product.color_name_en }}
            {% else %}
            {{ product.title }} {{ product.color_name_en }}{% endif %}</h3>
            {% endautoescape %}
        <div class="products__item-desrc">
            {% autoescape off %}
            {% if product.bodyline %}{{ product.bodyline }} {{ product.color_name_en }}
            {% else %}
            {{ product.category }}{% endif %}
            {% endautoescape %}
        </div>
        <div class="products__item-price">{% get_normal_price product.sell_price %} UZS</div>
    </div>
    <!-- /.products__item-text -->

    <div class="products__item-options products__options">
        <h4 class="products__options-title">Размеры</h4>
        <ul class="products__options-list options__list">
            <li class="options__list-item">
                <p class="options__list-text">
                    ШИРИНА
                </p>
                <span class="size">{{ product_size.0 }} СМ</span>
            </li>
            <li class="options__list-item">
                <p class="options__list-text">
                    ГЛУБИНА
                </p>
                <span class="size">{{ product_size.1 }} СМ</span>
            </li>
            <li class="options__list-item">
                <p class="options__list-text">
                    ВЫСОТА
                </p>
                <span class="size">{{ product_size.2 }} СМ</span>
            </li>
        </ul>
        {% get_user_cart_products request as cart_products %}
        {% if product in cart_products %}
        <a href="{% url "carts:cart" %}" class="options__btn btn">Перейти в корзину</a>
        {% else %}
        <a href="{% url "carts:cart_add" product.slug %}" class="options__btn btn">Добавить в корзину</a>
        {% endif %}
    </div>
    <!-- /.products__options -->
</div>