{% extends "base.html" %}
{% load static %}
{% block title %}
Корзина
{% endblock title %}



{% block content %}
<main class="main">
    <div class="container">
        <section class="basket">
            <div class="basket__text">
                <h1 class="basket__title">Ваша корзина</h1>
                <span class="basket__count"><span>4</span> предмета</span>
            </div>
            <div class="basket__items">
                <div class="basket__item">
                    <a href="#!" class="basket__item-img">
                        <img src={% static "base/assets/images/main/products/19.png" %} alt="product">
                    </a>
                    <div class="basket__item-content">
                        <div class="basket__item-text">
                            <h2 class="basket__item-title">Кускен Navy Blue</h2>
                            <p class="basket__item-price">
                                <span class="discount">
                                    <i class="far fa-badge-percent"></i>
                                    -25%
                                </span>
                                <span class="old__price"><span>37 990</span>₽</span>
                                <span class="price"><span>16 990</span>₽</span>

                            </p>
                        </div>
                        <div class="basket__options">
                            <p class="basket__options-color">
                                Цвет:
                                <span class="color__name">Темно-синий</span>
                                <span class="color__block"></span>
                            </p>
                            <p class="basket__options-count">
                                Количество: <span>1</span>
                            </p>
                            <p class="basket__options-size">
                                Размер(Ш×Д×В): <span>218 СМ × 95 СМ × 90 СМ</span>
                            </p>
                        </div>
                    </div>
                    <a href="#!" class="basket__delete">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="basket__item">
                    <a href="#!" class="basket__item-img">
                        <img src={% static "base/assets/images/main/products/1.png" %} alt="product">
                    </a>
                    <div class="basket__item-content">
                        <div class="basket__item-text">
                            <h2 class="basket__item-title">Кускен Navy Blue</h2>
                            <p class="basket__item-price">
                                <span class="discount">
                                    <i class="far fa-badge-percent"></i>
                                    -25%
                                </span>
                                <span class="old__price"><span>37 990</span>₽</span>
                                <span class="price"><span>16 990</span>₽</span>

                            </p>
                        </div>
                        <div class="basket__options">
                            <p class="basket__options-color">
                                Цвет:
                                <span class="color__name">Темно-синий</span>
                                <span class="color__block"></span>
                            </p>
                            <p class="basket__options-count">
                                Количество: <span>1</span>
                            </p>
                            <p class="basket__options-size">
                                Размер(Ш×Д×В): <span>218 СМ × 95 СМ × 90 СМ</span>
                            </p>
                        </div>
                    </div>
                    <a href="#!" class="basket__delete">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="basket__item">
                    <a href="#!" class="basket__item-img">
                        <img src={% static "base/assets/images/main/products/12.png" %} alt="product">
                    </a>
                    <div class="basket__item-content">
                        <div class="basket__item-text">
                            <h2 class="basket__item-title">Кускен Navy Blue</h2>
                            <p class="basket__item-price">
                                <span class="discount">
                                    <i class="far fa-badge-percent"></i>
                                    -25%
                                </span>
                                <span class="old__price"><span>37 990</span>₽</span>
                                <span class="price"><span>16 990</span>₽</span>

                            </p>
                        </div>
                        <div class="basket__options">
                            <p class="basket__options-color">
                                Цвет:
                                <span class="color__name">Темно-синий</span>
                                <span class="color__block"></span>
                            </p>
                            <p class="basket__options-count">
                                Количество: <span>1</span>
                            </p>
                            <p class="basket__options-size">
                                Размер(Ш×Д×В): <span>218 СМ × 95 СМ × 90 СМ</span>
                            </p>
                        </div>
                    </div>
                    <a href="#!" class="basket__delete">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="basket__item">
                    <a href="#!" class="basket__item-img">
                        <img src={% static "base/assets/images/main/products/9.png" %} alt="product">
                    </a>
                    <div class="basket__item-content">
                        <div class="basket__item-text">
                            <h2 class="basket__item-title">Кускен Navy Blue</h2>
                            <p class="basket__item-price">
                                <span class="discount">
                                    <i class="far fa-badge-percent"></i>
                                    -25%
                                </span>
                                <span class="old__price"><span>37 990</span>₽</span>
                                <span class="price"><span>16 990</span>₽</span>

                            </p>
                        </div>
                        <div class="basket__options">
                            <p class="basket__options-color">
                                Цвет:
                                <span class="color__name">Темно-синий</span>
                                <span class="color__block"></span>
                            </p>
                            <p class="basket__options-count">
                                Количество: <span>1</span>
                            </p>
                            <p class="basket__options-size">
                                Размер(Ш×Д×В): <span>218 СМ × 95 СМ × 90 СМ</span>
                            </p>
                        </div>
                    </div>
                    <a href="#!" class="basket__delete">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="products__form">
                <span>Итоговая стоимость:<span class="products__form-price">69 960₽</span> </span>
                <button class="btn products__form-btn">Оформить заказ</button>
            </form>
        </section>
        <!-- /.basket -->

        <section class="products">
            <h2 class="products__title">Хиты продаж</h2>
            <div class="products__content">

                <!-- /.products__item -->
                 {% for product in products %}
                {% include 'home/components/_card.html' %}
                {% endfor %}
            </div>
            <!-- /.products__content -->
            
        </section>
        <!-- /.products -->

    </div>
    <!-- /.container -->
</main>
{% endblock content %}



